.quizSection{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.questionIndexText{
    position: absolute;
    top:25%;
    left:50%;
    color:#000;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(-50%);
}

.questionText{
    width: 720px;
    position: absolute;
    top:33%;    
    left:50%;
    transform: translateX(-50%);
    color:#000;
    font-size: clamp(18px, 2vw, 48px);
    font-weight: 700;
}

.answerSection{
    height: 100%;
    width: 900px;
    position: absolute;
    top:43%;
    left:54%;
    transform: translateX(-50%);
}
.answerSection button{
    margin: 5px 0;
}

.imageButton{
    background: none;
    background-color: 'transparent';
    border: none;
    padding: 0;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    /* 💡 強制開啟硬體加速，防止第一次動畫閃爍 */
    backface-visibility: hidden;

    position: relative;
}

.imageButton:not(.disabled):hover{
    transform: scale(1.1) !important; ;
}

.imageButton:disabled{
    color: #000;
}


@keyframes clickPop {
  0% { transform: scale(1.1); }   /* 起始稍微放大，增加回饋感 */
  50% { transform: scale(0.9); }  /* 按下去縮小 */
  100% { transform: scale(1); }    /* 恢復正常 */
}

.clicking {
  /* 將動畫套用到元件 */
  animation: clickPop 0.25s ease-out; /* 0.25秒完成，可依喜好調整 */
  pointer-events: none; /* 重要！動畫時不接受再次點擊，防止連續點擊 Bug */
}


.buttonHidden{
    visibility: hidden;
}

.answerText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    padding: 0;
    width: 100%;
    will-change: transform;/*  防止縮放時文字變模糊或跳動 */
}

.submitButtonText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight:500;
}