.quizSection{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.questionIndexText{
    position: absolute;
    top:25%;
    left:50%;
    color:#000;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(-50%);
}

.questionText{
    width: 720px;
    position: absolute;
    top:33%;    
    left:50%;
    transform: translateX(-50%);
    color:#000;
    font-size: clamp(18px, 2vw, 48px);
    font-weight: 700;
}

.answerSection{
    height: 100%;
    width: 900px;
    position: absolute;
    top:43%;
    left:54%;
    transform: translateX(-50%);
}
.answerSection button{
    margin: 5px 0;
}

.imageButton{
    background: none;
    background-color: 'transparent';
    border: none;
    padding: 0;
    user-select: none;
    cursor: pointer;
    display: inline-block;

    position: relative;
}

.imageButton:not(.disabled):hover{
    transform: scale(1.1) !important; ;
}

.imageButton:disabled{
    color: #000;
}

/* .imageButton.clicking {
    display: inline-block;
    animation: clickPop 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards !important;
}

@keyframes clickPop {
  0% { transform: scale(1.1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
} */

.buttonHidden{
    visibility: hidden;
}

.answerText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    padding: 0;
}

.submitButtonText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight:500;
}