.quizSection{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}

.explanationSection{
    width: 1000px;
    position: absolute; 
    top:3%;
    left: 15%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.questionText{
    width: 1000px;
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.answerOptionSection{
    position: absolute;
    top:35%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.answerOptionSection img{
    margin: 0 30px; 
    cursor: pointer;
}

.answerOptionWithTextSection{
    position: absolute;
    top:45%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    text-align: center;
}
.answerOptionWithTextSection img{
    margin: 0 100px; 
    cursor: pointer;
}

.answerOptionWithText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight:600;
}

.answerText{
    margin-bottom: 25px;
}

.answerCustomStyle{
    rotate:-12deg
}