.questionSection{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

.questionIndexText{
    position: absolute;
    top:25%;
    left:50%;
    color:#000;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(-50%);
}

.questionText{
    width: 720px;
    position: absolute;
    top:33%;    
    left:50%;
    transform: translateX(-50%);
    color:#000;
    font-size: clamp(18px, 2vw, 48px);
    font-weight: 700;
}

.answerSection{
    position: absolute;
    top:45%;
    left:54%;
    transform: translateX(-50%);
}
.answerSection button {
    margin: 8px 0;
}

.imageButton{
    background: none;
    border: none;
    padding: 0;
    user-select: none;
    cursor: pointer;
    /* 💡 加入固定寬高，防止 Layout 重新計算 */
    width: 700px;   
    height: 85px;    

    /* 💡 強制開啟硬體加速，防止第一次動畫閃爍 */
    backface-visibility: hidden;
    position: relative;

}

.imageButton:not(.disabled):hover{
    transform: scale(1.1) !important;
}

.imageButton:disabled {
    color:#000;
}

@keyframes clickPop {
  0% { transform: scale(1.1); }   
  50% { transform: scale(0.9); }  
  100% { transform: scale(1); }  
}

.clicking {
  animation: clickPop 0.25s ease-out; 
  pointer-events: none; /* 動畫時不接受再次點擊，防止連續點擊 Bug */
}

.answerText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    will-change: transform;/*  防止縮放時文字變模糊或跳動 */
}