.mapSection{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.explanationText{
    width: 435px;
    height: 270px;
    position: absolute;
    top:18%;
    left:16%;
    color:#000000;
    font-size: 36px;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.riverCampIcon{
    position: absolute;
    top:54%;
    left:33%;
    display: flex;
    flex-direction: row-reverse;
}


.swampTrapIcon{
    position: absolute;
    top:28%;
    left:40%;
    display: flex;
    flex-direction: column;
}

.stoneMazeIcon{
    position: absolute;
    top:40%;
    left:50%;
    display: flex;
    flex-direction: column;
}

.boneHillIcon{
    position: absolute;
    top:30%;
    left:65%;
    display: flex;
    flex-direction: column;
}

.ancientTempleIcon{
    position: absolute;
    top:47%;
    left:66%;
    display: flex;
    flex-direction: column;
}

.mermaidCaveIcon{
    position: absolute;
    top:62%;
    left:56%;
    display: flex;
    flex-direction: column;
}

.locationText{
    font-size: 30px;
    font-weight: 600;
}

.riverCampTextStyle{
    margin-right:-40px;
    color:#9E9B98
}

.swampTrapTextStyle{
    margin-top:10px;
    margin-left:30px;
    color:#9E9B98
}

.slideshow{
    position: absolute;
    top:90%;
    left: 80%;
    transform: scale(0.8);
}

.slide {
    position: absolute;
    top:90%;
    left: 80%;
    opacity: 0;
    animation: fingerSlideshow 2.5s infinite;
}

/* 第一張不延遲，直接開始動畫 */
.slide:nth-child(1) { animation-delay: 0s; }     /* ✅ 立即開始 */
.slide:nth-child(2) { animation-delay: 0.5s; }   /* 0.5s 間隔 */
.slide:nth-child(3) { animation-delay: 1.0s; }
.slide:nth-child(4) { animation-delay: 1.5s; }
.slide:nth-child(5) { animation-delay: 2.0s; }

@keyframes fingerSlideshow {
  0%, 20% {
    opacity: 0;
  }
  20.1%, 40% {
    opacity: 1;
  }
  40.1%, 100% {
    opacity: 0;
  }
}




