.explanationSection{
    position: absolute;
    top:5%;
    left:50%;
    transform: translateX(-50%);
}

.explanationTextFirstLine{
    position: absolute;
    top:17%;
    left:50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 600;
}

.explanationTextSecondLine{
    position: absolute;
    top:42%;
    left:50%;
    transform: translateX(-50%);
    font-size: 60px;
    font-weight: 800;
}

.clueSection{
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%);
}

.clueTextFirstLine{
    position: absolute;
    top:14%;
    left: 33%;
    font-size: 20px;
    font-weight: 700;
    rotate: 4deg;
}

.clueTextSecondLine{
    width: 330px;
    position: absolute;
    top:27%;
    left: 8%;
    font-size: 22px;
    font-weight: 700;
    rotate: 4deg;
}

.imageButton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    position: absolute;
    top:80%;
    left:50%;
    transform: translateX(-50%);
}