body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 防止滾動條出現 */
  background-color: #000;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.game-viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- 通用樣式 --- */
.page-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-size: cover;
  background-position: center;
  transform-origin: top left;
  color: #000000;
}

.image-button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

